flow.json
[{"id":"1b68b81f.b25c38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24771a90.d743f6","type":"inject","z":"1b68b81f.b25c38","name":"Simulator","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":80,"wires":[["bcaff3.46c8c01"]]},{"id":"bcaff3.46c8c01","type":"function","z":"1b68b81f.b25c38","name":"Generator of values","func":"function getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\nif (global.get(\"SwitchMode\") || !global.get(\"FormValues\")){\n    msg={};\n    msg.payload={};\n    msg.payload.currentValuepH=getRndInteger(0, 140)/10;\n    msg.payload.currentValueHum=getRndInteger(0, 1000)/10;\n    msg.payload.currentValueTemp=getRndInteger(0, 500)/10;\n}else{\n    msg.payload = global.get(\"FormValues\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["7e684db5.c087bc"]]},{"id":"7e684db5.c087bc","type":"mqtt out","z":"1b68b81f.b25c38","name":"Sensors Publisher","topic":"v1/devices/me/telemetry","qos":"1","retain":"false","broker":"8c8cb619.602028","x":1010,"y":100,"wires":[]},{"id":"41c5be86.32da5","type":"mqtt in","z":"1b68b81f.b25c38","name":"Actuators Irrigation","topic":"v1/devices/me/rpc/request/+","qos":"0","datatype":"auto","broker":"a2a06b4f.039c98","x":150,"y":380,"wires":[["20384332.2bd42c","c936f062.4f6e9"]]},{"id":"6a9da171.b53148","type":"comment","z":"1b68b81f.b25c38","name":"Simulating sensors of tomatoes","info":"and publishing them ","x":550,"y":20,"wires":[]},{"id":"ec566400.8efb78","type":"comment","z":"1b68b81f.b25c38","name":"Manage alerts of Sensors","info":"","x":270,"y":320,"wires":[]},{"id":"c958e497.5436b","type":"ui_text","z":"1b68b81f.b25c38","group":"b7fe2590.e35a68","order":1,"width":0,"height":0,"name":"","label":"Light Actuator is enabled","format":"{{msg.payload.params.statusLight}}","layout":"col-center","x":590,"y":460,"wires":[]},{"id":"d9d81c55.439b1","type":"ui_text","z":"1b68b81f.b25c38","group":"f0b514d5.7c6488","order":1,"width":0,"height":0,"name":"","label":"Irrigation Actuator is enabled","format":"{{msg.payload.params.statusIrrigation}}","layout":"col-center","x":580,"y":380,"wires":[]},{"id":"20384332.2bd42c","type":"json","z":"1b68b81f.b25c38","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":380,"wires":[["d9d81c55.439b1"]]},{"id":"998f3059.0c1998","type":"ui_switch","z":"1b68b81f.b25c38","name":"","label":"Generate random numbers","tooltip":"","group":"514a2a08.f684bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":140,"wires":[["b3ab0218.b3826"]]},{"id":"2e5c566a.e488ea","type":"inject","z":"1b68b81f.b25c38","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["ac59c79e.68b078"]]},{"id":"ac59c79e.68b078","type":"function","z":"1b68b81f.b25c38","name":"set SwitchMode","func":"global.set(\"SwitchMode\",true);\nglobal.set(\"FormValues\",false);\nmsg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["998f3059.0c1998"]]},{"id":"b3ab0218.b3826","type":"change","z":"1b68b81f.b25c38","name":"","rules":[{"t":"set","p":"SwitchMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[[]]},{"id":"dbe81da7.7d2a","type":"ui_form","z":"1b68b81f.b25c38","name":"","label":"","group":"514a2a08.f684bc","order":2,"width":0,"height":0,"options":[{"label":"currentValuepH","value":"currentValuepH","type":"number","required":true,"rows":null},{"label":"currentValueTemp","value":"currentValueTemp","type":"number","required":true,"rows":null},{"label":"currentValueHum","value":"currentValueHum","type":"number","required":true,"rows":null}],"formValue":{"currentValuepH":"","currentValueTemp":"","currentValueHum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":550,"y":260,"wires":[["2fcca4a1.b47b14"]]},{"id":"2fcca4a1.b47b14","type":"change","z":"1b68b81f.b25c38","name":"","rules":[{"t":"set","p":"FormValues","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[[]]},{"id":"a8c9c67c.e0e48","type":"ui_template","z":"1b68b81f.b25c38","group":"d5d7ccff.6ebb3","name":"Dashboard appereance","order":1,"width":0,"height":0,"format":"<img src=\"https://www.farmersalmanac.com/wp-content/uploads/2020/11/Planting-Guide-Tomatoes-A118789228.jpg\" alt=\"Sustainable Management of Tomato\" >\n<h3>Sustainable Management of Tomato</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":520,"wires":[[]]},{"id":"d8f85283.d62e38","type":"mqtt in","z":"1b68b81f.b25c38","name":"Actuators Lights","topic":"v1/devices/me/telemetry","qos":"0","datatype":"auto","broker":"3adc90af.ff121","x":160,"y":440,"wires":[["d7a5ef3a.ef68a8"]]},{"id":"d7a5ef3a.ef68a8","type":"json","z":"1b68b81f.b25c38","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":460,"wires":[["c958e497.5436b"]]},{"id":"c936f062.4f6e9","type":"debug","z":"1b68b81f.b25c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":340,"wires":[]},{"id":"8c8cb619.602028","type":"mqtt-broker","z":"","name":"srv-iot.diatel.upm.es","broker":"srv-iot.diatel.upm.es","port":"8883","tls":"4b4cba26.481dfc","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2a06b4f.039c98","type":"mqtt-broker","z":"","name":"Broker Irrigation","broker":"srv-iot.diatel.upm.es","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7fe2590.e35a68","type":"ui_group","z":"","name":"Smart Light","tab":"7935eaa4.3e5a2c","order":3,"disp":true,"width":5,"collapse":false},{"id":"f0b514d5.7c6488","type":"ui_group","z":"","name":"Smart Irrigation","tab":"7935eaa4.3e5a2c","order":4,"disp":true,"width":5,"collapse":false},{"id":"514a2a08.f684bc","type":"ui_group","z":"","name":"Simulator","tab":"7935eaa4.3e5a2c","order":2,"disp":true,"width":6,"collapse":false},{"id":"d5d7ccff.6ebb3","type":"ui_group","z":"","name":"header","tab":"7935eaa4.3e5a2c","order":1,"disp":false,"width":8,"collapse":false},{"id":"3adc90af.ff121","type":"mqtt-broker","z":"","name":"Broker light","broker":"srv-iot.diatel.upm.es/","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4b4cba26.481dfc","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"7935eaa4.3e5a2c","type":"ui_tab","z":"","name":"Actuators","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
