flow.json
[{"id":"c066b3e6.4e1b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d90e08aa.89e3e","type":"inject","z":"c066b3e6.4e1b","name":"Simulator","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":80,"wires":[["a7e98087.39239"]]},{"id":"a7e98087.39239","type":"function","z":"c066b3e6.4e1b","name":"Generator of values","func":"function getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\nif (global.get(\"SwitchMode\") || !global.get(\"FormValues\")){\n    msg={};\n    msg.payload={};\n    msg.payload.currentValuepH=getRndInteger(0, 140)/10;\n    msg.payload.currentValueHum=getRndInteger(0, 1000)/10;\n    msg.payload.currentValueTemp=getRndInteger(0, 500)/10;\n}else{\n    msg.payload = global.get(\"FormValues\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["55e227eb.6aa2c8","7df866c6.a5108"]]},{"id":"55e227eb.6aa2c8","type":"debug","z":"c066b3e6.4e1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":160,"wires":[]},{"id":"7df866c6.a5108","type":"mqtt out","z":"c066b3e6.4e1b","name":"Sensors Publisher","topic":"v1/devices/me/telemetry","qos":"1","retain":"false","broker":"4aad272e.c8641","x":1010,"y":100,"wires":[]},{"id":"f826b335.c579","type":"mqtt in","z":"c066b3e6.4e1b","name":"Actuators Subscriber","topic":"v1/devices/me/telemetry","qos":"0","datatype":"auto","broker":"4aad272e.c8641","x":150,"y":380,"wires":[["4ce8a4e0.254c64"]]},{"id":"6dc54936.ec12c","type":"comment","z":"c066b3e6.4e1b","name":"Simulating sensors of tomatoes","info":"and publishing them ","x":550,"y":20,"wires":[]},{"id":"2b5de361.465d0c","type":"comment","z":"c066b3e6.4e1b","name":"Manage alerts of Sensors","info":"","x":270,"y":320,"wires":[]},{"id":"b82454d2.6ee278","type":"ui_text","z":"c066b3e6.4e1b","group":"23c6eeb4.ea59aa","order":1,"width":0,"height":0,"name":"","label":"Light Actuator is enabled","format":"{{msg.payload.msg.params.statusLight}}","layout":"col-center","x":590,"y":360,"wires":[]},{"id":"8952010f.86622","type":"ui_text","z":"c066b3e6.4e1b","group":"8d5f1967.32c03","order":1,"width":0,"height":0,"name":"","label":"Irrigation Actuator is enabled","format":"{{msg.payload.msg.params.statusIrrigation}}","layout":"col-center","x":600,"y":400,"wires":[]},{"id":"4ce8a4e0.254c64","type":"json","z":"c066b3e6.4e1b","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":380,"wires":[["b82454d2.6ee278","8952010f.86622"]]},{"id":"d4c97ed1.8aefd8","type":"ui_switch","z":"c066b3e6.4e1b","name":"","label":"Generate random numbers","tooltip":"","group":"b773ce2e.bf258","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":140,"wires":[["d10d6cf.b82599"]]},{"id":"7ef07961.7fab5","type":"inject","z":"c066b3e6.4e1b","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["5cb48da6.c56974"]]},{"id":"5cb48da6.c56974","type":"function","z":"c066b3e6.4e1b","name":"set SwitchMode","func":"global.set(\"SwitchMode\",true);\nglobal.set(\"FormValues\",false);\nmsg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["d4c97ed1.8aefd8"]]},{"id":"d10d6cf.b82599","type":"change","z":"c066b3e6.4e1b","name":"","rules":[{"t":"set","p":"SwitchMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[[]]},{"id":"22f40e5e.b94e3a","type":"ui_form","z":"c066b3e6.4e1b","name":"","label":"","group":"b773ce2e.bf258","order":2,"width":0,"height":0,"options":[{"label":"currentValuepH","value":"currentValuepH","type":"number","required":true,"rows":null},{"label":"currentValueTemp","value":"currentValueTemp","type":"number","required":true,"rows":null},{"label":"currentValueHum","value":"currentValueHum","type":"number","required":true,"rows":null}],"formValue":{"currentValuepH":"","currentValueTemp":"","currentValueHum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":550,"y":260,"wires":[["34a38256.d3f0d6"]]},{"id":"34a38256.d3f0d6","type":"change","z":"c066b3e6.4e1b","name":"","rules":[{"t":"set","p":"FormValues","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[[]]},{"id":"46ad0b69.cac49c","type":"ui_template","z":"c066b3e6.4e1b","group":"93a99ea.0d20c6","name":"Dashboard appereance","order":1,"width":0,"height":0,"format":"<img src=\"https://www.farmersalmanac.com/wp-content/uploads/2020/11/Planting-Guide-Tomatoes-A118789228.jpg\" alt=\"Sustainable Management of Tomato\" >\n<h3>Sustainable Management of Tomato</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":520,"wires":[[]]},{"id":"4aad272e.c8641","type":"mqtt-broker","z":"","name":"srv-iot.diatel.upm.es","broker":"srv-iot.diatel.upm.es","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23c6eeb4.ea59aa","type":"ui_group","z":"","name":"Smart Light","tab":"e7781539.4b06e8","order":3,"disp":true,"width":5,"collapse":false},{"id":"8d5f1967.32c03","type":"ui_group","z":"","name":"Smart Irrigation","tab":"e7781539.4b06e8","order":4,"disp":true,"width":5,"collapse":false},{"id":"b773ce2e.bf258","type":"ui_group","z":"","name":"Simulator","tab":"e7781539.4b06e8","order":2,"disp":true,"width":6,"collapse":false},{"id":"93a99ea.0d20c6","type":"ui_group","z":"","name":"header","tab":"e7781539.4b06e8","order":1,"disp":false,"width":8,"collapse":false},{"id":"e7781539.4b06e8","type":"ui_tab","z":"","name":"Actuators","icon":"dashboard","order":1,"disabled":false,"hidden":false}]