node-red_flow.json
[{"id":"63e8bb71.e6e124","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8b14501.5cdc08","type":"inject","z":"63e8bb71.e6e124","name":"Simulator","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":540,"y":80,"wires":[["9657c8ab.e7506"]]},{"id":"9657c8ab.e7506","type":"function","z":"63e8bb71.e6e124","name":"Generator of values","func":"function getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\nif (global.get(\"SwitchMode\") || !global.get(\"FormValues\")){\n    msg={};\n    msg.payload={};\n    msg.payload.currentValuepH=getRndInteger(0, 140)/10;\n    msg.payload.currentValueHum=getRndInteger(0, 1000)/10;\n    msg.payload.currentValueTemp=getRndInteger(0, 500)/10;\n}else{\n    msg.payload = global.get(\"FormValues\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["5dba8bef.20c8f4"]]},{"id":"5dba8bef.20c8f4","type":"mqtt out","z":"63e8bb71.e6e124","name":"Sensors Publisher","topic":"v1/devices/me/telemetry","qos":"1","retain":"false","broker":"3555cf9d.ed4a48","x":1010,"y":100,"wires":[]},{"id":"2ed8821e.fb1b9e","type":"mqtt in","z":"63e8bb71.e6e124","name":"Actuators Irrigation","topic":"v1/devices/me/rpc/request/+","qos":"0","datatype":"auto","broker":"ac120bb.c1564f8","x":150,"y":380,"wires":[["bab2b59b.ffcf58","ec82c40b.774658"]]},{"id":"d82a7642.0a0c38","type":"comment","z":"63e8bb71.e6e124","name":"Simulating sensors of tomatoes","info":"and publishing them ","x":550,"y":20,"wires":[]},{"id":"b90f51ec.3eb22","type":"comment","z":"63e8bb71.e6e124","name":"Manage alerts of Sensors","info":"","x":230,"y":280,"wires":[]},{"id":"cb02c1f8.68a768","type":"ui_text","z":"63e8bb71.e6e124","group":"24f0ddb4.e565e2","order":1,"width":0,"height":0,"name":"","label":"Light Actuator is enabled","format":"{{msg.payload.params.statusLight}}","layout":"col-center","x":590,"y":440,"wires":[]},{"id":"a962adf7.dafe78","type":"ui_text","z":"63e8bb71.e6e124","group":"f5796c9e.61b6b8","order":1,"width":0,"height":0,"name":"","label":"Irrigation Actuator is enabled","format":"{{msg.payload.params.statusIrrigation}}","layout":"col-center","x":580,"y":380,"wires":[]},{"id":"bab2b59b.ffcf58","type":"json","z":"63e8bb71.e6e124","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":380,"wires":[["a962adf7.dafe78"]]},{"id":"cb65add0.f940d8","type":"ui_switch","z":"63e8bb71.e6e124","name":"","label":"Generate random numbers","tooltip":"","group":"a96b7d57.0e727","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":140,"wires":[["46bd6463.a17bfc"]]},{"id":"c034dffa.1a935","type":"inject","z":"63e8bb71.e6e124","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["6a77720.6c7ff1"]]},{"id":"6a77720.6c7ff1","type":"function","z":"63e8bb71.e6e124","name":"set SwitchMode","func":"global.set(\"SwitchMode\",true);\nglobal.set(\"FormValues\",false);\nmsg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["cb65add0.f940d8"]]},{"id":"46bd6463.a17bfc","type":"change","z":"63e8bb71.e6e124","name":"","rules":[{"t":"set","p":"SwitchMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[[]]},{"id":"d0e8f190.cc01d","type":"ui_form","z":"63e8bb71.e6e124","name":"","label":"","group":"a96b7d57.0e727","order":2,"width":0,"height":0,"options":[{"label":"currentValuepH","value":"currentValuepH","type":"number","required":true,"rows":null},{"label":"currentValueTemp","value":"currentValueTemp","type":"number","required":true,"rows":null},{"label":"currentValueHum","value":"currentValueHum","type":"number","required":true,"rows":null}],"formValue":{"currentValuepH":"","currentValueTemp":"","currentValueHum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":550,"y":260,"wires":[["b748545b.9f4158"]]},{"id":"b748545b.9f4158","type":"change","z":"63e8bb71.e6e124","name":"","rules":[{"t":"set","p":"FormValues","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[[]]},{"id":"efabd44a.32213","type":"ui_template","z":"63e8bb71.e6e124","group":"84d18696.fb805","name":"Dashboard appereance","order":1,"width":0,"height":0,"format":"<img src=\"https://www.farmersalmanac.com/wp-content/uploads/2020/11/Planting-Guide-Tomatoes-A118789228.jpg\" alt=\"Sustainable Management of Tomato\" >\n<h3>Sustainable Management of Tomato</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":520,"wires":[[]]},{"id":"ee6d960b.37fe78","type":"mqtt in","z":"63e8bb71.e6e124","name":"Actuators Lights","topic":"v1/devices/me/rpc/request/+","qos":"0","datatype":"auto","broker":"4499dbda.fee64c","x":160,"y":440,"wires":[["e29a7356.8ab968","ed6b4f5a.650808"]]},{"id":"e29a7356.8ab968","type":"json","z":"63e8bb71.e6e124","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":440,"wires":[["cb02c1f8.68a768"]]},{"id":"ec82c40b.774658","type":"debug","z":"63e8bb71.e6e124","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":340,"wires":[]},{"id":"ed6b4f5a.650808","type":"debug","z":"63e8bb71.e6e124","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":480,"wires":[]},{"id":"3555cf9d.ed4a48","type":"mqtt-broker","z":"","name":"srv-iot.diatel.upm.es","broker":"srv-iot.diatel.upm.es","port":"8883","tls":"c69d0a4.6e01778","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac120bb.c1564f8","type":"mqtt-broker","z":"","name":"Broker Irrigation","broker":"srv-iot.diatel.upm.es","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"24f0ddb4.e565e2","type":"ui_group","z":"","name":"Smart Light","tab":"fa94efb1.f3a84","order":3,"disp":true,"width":5,"collapse":false},{"id":"f5796c9e.61b6b8","type":"ui_group","z":"","name":"Smart Irrigation","tab":"fa94efb1.f3a84","order":4,"disp":true,"width":5,"collapse":false},{"id":"a96b7d57.0e727","type":"ui_group","z":"","name":"Simulator","tab":"fa94efb1.f3a84","order":2,"disp":true,"width":6,"collapse":false},{"id":"84d18696.fb805","type":"ui_group","z":"","name":"header","tab":"fa94efb1.f3a84","order":1,"disp":false,"width":8,"collapse":false},{"id":"4499dbda.fee64c","type":"mqtt-broker","z":"","name":"Broker light","broker":"srv-iot.diatel.upm.es/","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c69d0a4.6e01778","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"fa94efb1.f3a84","type":"ui_tab","z":"","name":"Actuators","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
